[Unit]
Description=VOIP Agent Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/la-voip-agent
ExecStart=/root/la-voip-agent/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
